<%= link_to "Back to Student Section", student_path, class: "btn btn-default" %>
<% @all_matches.each do |match| %>
<h3>Today you will work with:
  <% if match.date == Date.today %>
  <% if match.student_1 == current_user %>
  <i><%= match.student_2.name %></i>
<% else %>
  <i><%= match.student_1.name %></i>
  <% end %>
<% else %>
  <i>no match yet!</i>
  <% end %>
</h3>

<h3>Your previous matches:
</h3>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Student 1</th>
      <th></th>
      <th>Student 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if match.date < Date.today %>
      <td><%= match.date.strftime("%d-%m-%Y") %></td>
      <td><%= match.student_1.name %></td>
      <td>
        and
      </td>
      <td><%= match.student_2.name %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
